<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210095798326-46gq9ffe03agasg6js3qrr6b9b91pink.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210095798326-46gq9ffe03agasg6js3qrr6b9b91pink</string>
	<key>API_KEY</key>
	<string>AIzaSyADcLgDjIkllt4cHxumRACn6i07u3WMTAU</string>
	<key>GCM_SENDER_ID</key>
	<string>210095798326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winsocial.challenge</string>
	<key>PROJECT_ID</key>
	<string>winsocialchallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>winsocialchallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210095798326:ios:acccb6df028414a8784097</string>
	<key>DATABASE_URL</key>
	<string>https://winsocialchallenge.firebaseio.com</string>
</dict>
</plist>